certifi==2018.8.24
chardet==3.0.4
Django==2.2.13
djangorestframework==3.8.2
idna==2.7
isodate==0.6.0
oauthlib==2.1.0
postgres==2.2.2
psycopg2-binary==2.7.5
Pygments==2.2.0
pyparsing==2.2.2
PySocks==1.6.8
pytz==2018.5
rdflib==4.2.2
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
SPARQLWrapper==1.8.2
tweepy==3.6.0
urllib3==1.23
